command_timeout = 1000 

[aws]
disabled = true

[azure]
disabled = true

[gcloud]
disabled = true

[direnv]
disabled = false

[localip]
ssh_only = false
format = '@[$localipv4](bold red) '
disabled = false

[nodejs]
disabled = true
